/* Global styles ============= */
html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif !important;
  line-height: 1.5;
}

h2 {
  font-size: 50px !important;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

section {
  padding: 15px 0;
}

.col-lg-6, .col-lg-12 {
  padding: 0px;
}

/* page wrapper */
.pwrapper {
  width: 80%;
  margin: 0 auto;
}

/* hyperlink and hover */
a {
  color: #fdcc52;
}

a:hover, a:focus {
  color: #fc2020;
}

/* navbar */
.navbar-custom {
  background-color: #2a607c;
  padding: 25px;
  color: #ffffff;
}

.navbar-custom h1 {
  background-color: black;
  padding: 5px;
  font-size: 55px;
}

.navbar-toggler {
  background-color: orange
}

#navbarNav {
  justify-content: flex-end;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 30px;
}

#navbarNav a {
  margin-left: 25px;
  text-decoration: none;
}

/* sideaccent colour */
.sideAccent {
  border-left: 7px solid green;
}

/* banner image */
.pic {
  background-image: url("../images/02-hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

/* banner content */
.bgcon h2 {
  font-size: 35px;
  padding: 5px;
  background-color: aqua;
  width: fit-content;
}

.bgcon img {
  background-position: center;
  width: 96px;
  height: auto;
}

/* project section */
.proj {
  border: 5px solid black;
  margin: 5px;
  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.heading {
  background-color: rgba(0,0,0,1);
  font-size: 28px;
  color:white;
  position: relative;
  width: 150px;
  height: 75px;
}

#p1 {
  background-image: url("../images/02-portfolio-4.jpg");
  height: 500px;
}

#p2 {
  background-image: url("../images/02-portfolio-1.jpg");
}

#p3 {
  background-image: url("../images/02-portfolio-2.jpg");
}

#p4 {
  background-image: url("../images/02-portfolio-3.jpg");
}

#p5 {
  background-image: url("../images/02-run-buddy.jpg");
}

/* hover animation */
.code-card .card-header {
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px rgba(232, 102, 236, 1), 0 0 15px rgba(232, 102, 236, 1);
}

/* skills section */
.listskill {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
 
/* contacts section */
.contact {
  justify-content: space-evenly;
}

.contact a {
  font-size: 25px;
  padding: 10px;
}

/* responsive design */
@media (max-width: 576px) {
  .listskill {
    margin-top: 20px;
  }

  .sideAccent {
    border: none;
    border-top: 7px solid green;
  }
}